.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
    box-sizing: border-box;
}
.logo{
    font-weight: bold;
    font-size: 24px;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 16px;
    font-weight:700;
    color: #3A3A3A;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.fonta{
    display: flex;
    gap: 25px;
   
}
.fonta 
.navbar ul{
    display: flex;
    gap:25px;
}
.nav-section{
    margin: 40px 60px;
}